@font-face {
    font-family: "inter_bold";
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "inter_regular";
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "inter_light";
    src: url("../fonts/Inter-Light.ttf");
}

:root {
    --font_bold: "inter_bold", sans-serif;
    --font_regular: "inter_regular", sans-serif;
    --font_light: "inter_light", sans-serif;
    --color_white: #FFFFFF;
    --color_black: #303030;
    --color_grey: #7F7F7F;
    --padding_LR: 9vw;
    --hour_size: 200px;
}

body {
    margin: 0;
    font-family: var(--font_regular);
    color: var(--color_white);
    background-color: var(--color_grey);
}

main {
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/desktop/bg-image-daytime.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

main.night {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/desktop/bg-image-nighttime.jpg");
}

#main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;
    padding: 1.5rem var(--padding_LR) 4rem;
}

main.expand #main_content {
    padding: 5vh var(--padding_LR);
    justify-content: center;
}

main.expand #quote {
    display: none;
}

#quote {
    display: flex;
    gap: 1rem;
}

#quote #quote_content {
    max-width: 540px;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}

#quote #quote_content #quote_citation {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

#quote #quote_content #quote_author {
    font-family: var(--font_bold);
}

#quote #quote_refresh {
    appearance: none;
    background-color: unset;
    border-radius: 0;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0.25rem;
    display: flex;
    height: 100%;
    outline: none;
}

#quote #quote_refresh:focus-visible {
    border-radius: 25px;
    border: 1px solid var(--color_white);
}

#quote #quote_refresh svg {
    transition: opacity 0.2s;
}

#quote #quote_refresh:focus-visible svg,
#quote #quote_refresh:hover svg {
    opacity: 1;
}

#current {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
}

#current #current_content #currently {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#current #current_content #currently>p {
    margin: 0;
    font-size: 1.25rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#current #current_hour {
    display: flex;
    gap: 0.687rem;
    align-items: flex-end;
    margin: 1.5rem 0;
}

#current #currently_hour {
    font-family: var(--font_bold);
    letter-spacing: -5px;
    font-size: var(--hour_size);
    line-height: 1;
    margin-bottom: -1rem;
}

#current #abbreviation {
    font-family: var(--font_light);
    font-size: 2.5rem;
    text-transform: uppercase;
}

#current #current_loc {
    font-family: var(--font_bold);
    font-size: 1.5rem;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin: 0;
}

#current #more {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-grow: 0;
    color: var(--color_grey);
    background-color: var(--color_white);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: var(--font_bold);
    appearance: none;
    border: none;
    border-radius: 28px;
    padding: 8px 9px 8px 20px;
    cursor: pointer;
    outline: none;
}

#current #more:focus-visible {
    box-shadow: 3px 2px 3px 0px;
}

#current #more svg {
    transition: fill 0.2s;
    transform: rotate(180deg);
}

#current #more.less svg {
    transform: unset;
}

#current #more:hover svg {
    fill: var(--color_grey);
}

#info_content {
    display: none;
    padding: 7vh var(--padding_LR);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20.4px);
    color: var(--color_black);
    grid-template-columns: 1fr 1fr;
    gap: 2.75rem;
}

main.expand #info_content {
    display: grid;
}

main.night #info_content {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--color_white);
}

#info_content .info_item {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

#info_content .info_item-title {
    font-size: 0.95rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}

#info_content .info_item-value {
    font-family: var(--font_bold);
    font-size: 3.5rem;
    line-height: 1;
}

@media all and (max-width:1080px) {
    :root {
        --padding_LR: 7vw;
        --hour_size: 180px;
    }
}

@media all and (max-width:900px) {
    #current {
        flex-direction: column;
        align-items: flex-start;
    }

    #info_content .info_item-value {
        font-size: 3rem;
    }
}

@media all and (max-width:765px) {
    :root {
        --hour_size: 170px;
    }

    main {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/tablet/bg-image-daytime.jpg");
    }

    main.night {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/tablet/bg-image-nighttime.jpg");
    }

    #current #abbreviation {
        font-size: 1.75rem;
    }

    #current #current_loc {
        font-size: 1.125rem;
    }

    #info_content .info_item-value {
        font-size: 2.5rem;
    }
}

@media all and (max-width:685px) {
    :root {
        --padding_LR: 5vw;
        --hour_size: 145px;
    }
}

@media all and (max-width:620px) {
    main.expand #info_content {
        display: flex;
        flex-direction: column;
    }

    #info_content .info_item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media all and (max-width:575px) {
    :root {
        --padding_LR: 5vw;
        --hour_size: 130px;
    }

    #quote #quote_content {
        font-size: 1rem;
    }

    #its-currently {
        display: none;
    }

    #current #currently_hour {
        margin-bottom: -0.8rem;
    }

    #current #abbreviation {
        font-size: 1.25rem;
    }

    #current #more {
        padding: 4px 5px 4px 17px;
    }

    #info_content {
        padding: 5vh var(--padding_LR);
        gap: 2rem;
    }

    #info_content .info_item-title {
        font-size: 0.825rem;
        letter-spacing: 2px;
    }

    #info_content .info_item-value {
        font-size: 2rem;
    }
}

@media all and (max-width:475px) {
    :root {
        --padding_LR: 20px;
        --hour_size: 115px;
    }

    #current #current_content #currently>p,
    #current #current_loc {
        font-size: 0.95rem;
    }

    #current #current_hour {
        margin: 1rem 0 1.25rem;
    }

    #current #currently_hour {
        margin-bottom: -0.6rem;
    }
}

@media all and (max-width:425px) {
    :root {
        --hour_size: 100px;
    }

    #current #currently_hour {
        margin-bottom: -0.4rem;
    }

    #info_content .info_item-value {
        font-size: 1.70rem;
    }
}

@media all and (max-width:375px) {
    :root {
        --hour_size: 80px;
    }

    main {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/mobile/bg-image-daytime.jpg");
    }

    main.night {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/mobile/bg-image-nighttime.jpg");
    }
}