@font-face {
    font-family: "inter_bold";
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "inter_regular";
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "inter_light";
    src: url("../fonts/Inter-Light.ttf");
}

:root {
    --font_bold: "inter_bold", sans-serif;
    --font_regular: "inter_regular", sans-serif;
    --font_light: "inter_light", sans-serif;
    --color_white: #FFFFFF;
    --color_black: #303030;
    --color_grey: #7F7F7F;
    --padding_LR: 9vw;
}

body {
    margin: 0;
    font-family: var(--font_regular);
    color: var(--color_white);
    background-color: var(--color_grey);
}

main {
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/desktop/bg-image-daytime.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

main.night {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/desktop/bg-image-nighttime.jpg");
}

#main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;
    padding: 1.5rem var(--padding_LR) 4rem;
}

main.expand #main_content {
    padding: 5vh var(--padding_LR);
    justify-content: center;
}

main.expand #quote {
    display: none;
}

#quote {
    display: flex;
    gap: 1rem;
}

#quote #quote_content {
    max-width: 540px;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}

#quote #quote_content #quote_citation {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

#quote #quote_content #quote_author {
    font-family: var(--font_bold);
}

#quote #quote_refresh {
    appearance: none;
    background-color: unset;
    border-radius: 0;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0.25rem;
    display: flex;
}

#current #current_content #currently {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#current #current_content #currently>p {
    margin: 0;
    font-size: 1.25rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#current #current_hour {
    display: flex;
    gap: 0.687rem;
    align-items: flex-end;
    margin: 1.5rem 0;
}

#current #currently_hour {
    font-family: var(--font_bold);
    letter-spacing: -5px;
    font-size: 200px;
    line-height: 1;
    margin-bottom: -1rem;
}

#current #abbreviation {
    font-family: var(--font_light);
    font-size: 2.5rem;
    text-transform: uppercase;
}

#current #current_loc {
    font-family: var(--font_bold);
    font-size: 1.5rem;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin: 0;
}

#info_content {
    display: none;
    padding: 7vh var(--padding_LR);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20.4px);
    color: var(--color_black);
    grid-template-columns: 1fr 1fr;
    gap: 2.75rem;
}

main.expand #info_content {
    display: grid;
}

main.night #info_content {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--color_white);
}

#info_content .info_item {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

#info_content .info_item-title {
    font-size: 0.95rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}

#info_content .info_item-value {
    font-family: var(--font_bold);
    font-size: 56px;
    line-height: 1;
}